
@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: #FFFADB;
    color: #22A53B;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    /* background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3); */
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }


  header {
    height: 60px;
  }

  .banner {
    height: 30px;
    padding-top: auto;
    padding-bottom: auto;
    background-color:crimson;
    color: #fff;
    line-height: 30px;
    text-align: center;
  }

  .logo {
    float: left;
    font-family: 'Josefin Slab', serif;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
  }

  h2 {
    /* border-bottom: 2px solid #ccc; */
    font-size: 24px;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 14px;
  }

  a {
    color: #3680C1;
  }

  ul{
    line-height: 1.5;
  }

  img {
    max-height: 400px;
    max-width: 400px;
  }

  body > div> header> div.logo > h1 > a{
    text-decoration: none;
    color: #22A53B;
  }
  /* body > div > header > div.logo > h1 > a */

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .about {
    max-width: 500px;
    margin: 40px auto 20px auto;
    font-size: 30px;
    text-align: right;
    line-height: 1.5;
    font-weight: 600;
  }

  .parks {
    text-align: center;
  }

  .title {
    font-size: 30px;
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }

  .article {
    line-height: 1.5;
  }

  .user {
    float: right;
    position: sticky;
    line-height: 60px;
  }

  .user a {
    margin: 20px;
    text-decoration: none;
  }

  input {
    padding: 10px 10px;
  }

  select {
    padding: 10px 10px;
    border: none;
  }

  input[type=button], input[type=submit] {
    padding: 10px 10px;
    border: none;
    background-color:#22A53B;
    color: #fff;
    text-decoration: none;
  }
  
  .buttons {
    display: block;
    float: left;
    margin-right: 25px;
  }

  .tree_grid{
    display: flex;
    flex-wrap: wrap;
  }

  .tree_grid img {
    height: 250px;
    padding: 10px;
  }

  /* .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */ /*
    width: 30%; /* 240px / 800px */
  /*} */

  /* .sidebar ul {
    font-size: 14px;
  } */

  .branding {
    clear: both;
  }

  footer.branding {
    /* border-top: 2px solid #ccc; */
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
